HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.jks

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
resources/keystore/

### PyCharm ###
venv/
__pycache__/main.cpython-37.pyc
__pycache__/test_main.cpython-37-pytest-6.2.2.pyc
__pycache__/test_read_lyrics.cpython-37-pytest-6.2.2.pyc
src.egg-info/dependency_links.txt
src.egg-info/PKG-INFO
src.egg-info/requires.txt
src.egg-info/SOURCES.txt
src.egg-info/top_level.txt
sample/__pycache__/main.cpython-37.pyc
sample/__pycache__/read_lyrics.cpython-37.pyc
tests/__pycache__/test_main.cpython-37-pytest-6.2.2.pyc
tests/__pycache__/test_read_lyrics.cpython-37-pytest-6.2.2.pyc
sample.egg-info/dependency_links.txt
sample.egg-info/dependency_links.txt
sample.egg-info/PKG-INFO
sample.egg-info/requires.txt
sample.egg-info/SOURCES.txt
sample.egg-info/top_level.txt
sample.egg-info/dependency_links.txt
sample.egg-info/SOURCES.txt
tests/__pycache__/context.cpython-37.pyc
sample/__pycache__/__init__.cpython-37.pyc
tests/__pycache__/test_adjust.cpython-37-pytest-6.2.2.pyc
sample/__pycache__/adjust.cpython-37.pyc
tests/__pycache__/__init__.cpython-37.pyc
/lstm/lyrics_no_parentheses.txt
**/__pycache__/**
